services:
  text:
    build: .
    ports:
      - "7777:7777"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-network
    container_name: rugg-module-text
    labels:
      environment: rugg-module
networks:
  my-network:
    driver: bridge